<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <table>
      <th>
        <%= User.find(comment.user_id).username %>
      </th>
      <tr>
        <td><%= comment.comment %></td>
      </tr>
      <% if user_signed_in? %>
        <% if comment.user_id == current_user.id %>
          <tr>
            <td>
              <%= link_to "edit comment", edit_post_comment_path(@post, comment) %>
              <%= link_to "delete comment", [comment.post, comment],
                           method: :delete,
                           data: { confirm: 'Are you sure?' }  %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </body>
</html>
