<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <p>
      <strong>Comments</strong>
      <p>
        <%= comment.comment %>
      </p>
      <% if user_signed_in? %>
        <% if comment.user_id == current_user.id %>
          <%= link_to "edit comment", edit_post_comment_path(@post, comment) %>
          <%= link_to "delete comment", [comment.post, comment],
                       method: :delete,
                       data: { confirm: 'Are you sure?' }  %>
        <% end %>
      <% end %>
    </p>
  </body>
</html>
