<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <table class="post-bottom">
      <th>
        <td class="user-name"><%= User.find(comment.user_id).username %></td>
        <td class="comment-content"><%= comment.comment %></td>
        <td class="delete-edit-comment">
          <%= link_to "edit comment", edit_post_comment_path(@post, comment) %>
          <%= link_to "delete comment", [comment.post, comment],
                       method: :delete,
                       data: { confirm: 'Are you sure?' }  %>
        </td>
      </th>
      <% if user_signed_in? %>
        <% if comment.user_id == current_user.id %>
          <tr>
          </tr>
        <% end %>
      <% end %>
    </table>
  </body>
</html>
