<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <table class="post">
      <% @posts.each do |post| %>
        <tr>
          <th class="head"><%= post.user.username %></th>
        </tr>
        <tr>
          <td class="image"><%= link_to(image_tag(post.image.url(:medium), width: "500"), post_path(post)) %></td>
        </tr>
        <tr>
          <td><%= post.caption %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
